@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.about-image {
    width: 400px;
    padding: 50px;
    margin-right: 30px;
}

.name {
    font-size: 35px;
    color: #2e2e2e;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    line-height: 40px;
}

.span-name {
    font-size: 40px;
    font-weight: 600;
    color: #475579;
}

.about-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 30px;
}

.about-content {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #13161ba6;
    font-weight: 500;
    margin-top: 20px;
    /* max-width: 500px; */
    /* white-space: pre-line; */
}




.all-btn:hover .arrow1 {
    color: black;
}

.arrow1 {
    color: white;
    margin-left: 20px;
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

@media (max-width:500px) {
    .skill-box {
        width: 10px;
    }
}

.Skillset {
    max-width: 800px;
    margin: auto;
    display: flex;
    height: 200px;
    justify-content: space-around;
    align-items: center;
}

.skill-title {
    position: relative;
    color: #393E46;
    font-size: 25px;
    margin: 50px 0 70px 0;
    font-family: "Cinzel Decorative", cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: lowercase;
}

.skill-title::before {
    content: "";
    position: absolute;
    top: 35px;
    width: 400px;
    left: 2px;
    height: 1px;
    background: linear-gradient(to right, #b8b8b869, #cecece69, #ffffff);
}

.skill-section {
    display: flex;
    flex-shrink: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.devprocess {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.rule1 img {
    width: 100%;
}

