@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
/* font-family: 'Cinzel Decorative', cursive;
font-family: 'Outfit', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: "Bebas Neue", sans-serif; */

.footer {
    bottom: 0;
    background: #252525;
    padding: 30px 0;
}

.footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff23;
    max-width: 800px;
    margin: auto;
    padding-bottom: 20px;
}

.explore {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 100px;
}

.explore-links {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 100px; */
}

.logos img {
    width: 25px;
    margin: 4px;
}

.footer-text {
    color: #cecece;
    font-size: 17px;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Cinzel Decorative', cursive;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    text-align: center;
    align-items: center;
}

.h-icon {
    color: #9b9b9b;
    margin: 0 10px;
    font-size: 15px;
    animation: beat .25s infinite alternate;
    transform-origin: center;
}

@keyframes beat {
    to {
        transform: scale(1.4);
    }
}