@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Outfit:wght@100;200;300;400;500;600;700;800&family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://db.onlinewebfonts.com/c/11cb6974aad7e20f9f6f7c2337e25d64?family=Copyright+Klim+Type+Foundry');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Syne+Mono&display=swap');
@import url('https://db.onlinewebfonts.com/c/30a71dcf9a1c39558ca4e97c92a4b2fa?family=Noe+Display+Bold');
/* font-family: 'Cinzel Decorative', cursive;
font-family: 'Outfit', sans-serif;
font-family: "Noe Display Bold", sans-serif;
font-family: 'Overpass', sans-serif; 
--font-family: 'Josefin Sans', sans-serif;
--web-font: 'Copyright Klim Type Foundry', sans-serif; */


.Web-main {
    width: 100%;
    height: auto;
    margin-top: 80px;
}


.title-parent {
    /* text-align: center; */
    max-width: 910px;
    margin: auto;
}

.web-title {
    position: relative;
    color: #393E46;
    font-size: 25px;
    margin: 50px 0 70px 0;
    font-family: "Cinzel Decorative", cursive;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: lowercase;
}
.web-title:before {
    content: "";
    position: absolute;
    top: 35px;
    width: 400px;
    left: 2px;
    height: 1px;
    background: linear-gradient(to right, #b8b8b869, #cecece69, #ffffff);
}
text {
    font-size: 2px;
}
.web-title span {
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    color: #222831;
}

/* .web-title::before {
    content: "";
    position:absolute;
    background: #6d6d6d2d;
    width: 250px;
    height: 1px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
} */

.main-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 910px;
    margin: auto;
}

.parent1,
.parent2,
.parent3 {
    position: relative;
    width: 27%;
    height: 270px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 1px 10px #08070710;
    transition: all .2s ease-in-out;
    /* margin: 0 40px; */
}

.parent1:hover,
.parent2:hover,
.parent3:hover {
    transform: translateY(-3px);
}


.parent1 {
    background: #47557910;
}

.parent2 {
    background: #47557910;
}

.parent3 {
    background: #47557910;
}

.parent1 p,
.parent2 pp,
.parent3 ppp {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.parent1 p::before,
.parent2 pp::before,
.parent3 ppp::before {
    position: absolute;
    width: 150%;
    height: 25px;
    /* background: #D5475D; */
    /* background: #ca2e46; */
    transform: rotate(-45deg) translateY(-13px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: "Outfit";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.parent1 p::before {
    content: "Web 1.0";
    background: #475579;
}

.parent2 pp::before {
    content: "Web 2.0";
    background: #475579;
}

.parent3 ppp::before {
    content: "Web 3.0";
    background: #475579;
}

.parent1 p::after,
.parent2 pp::after,
.parent3 ppp::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    z-index: -1;
}

.parent1 p::after {
    /* 475579 */
    background: #475579;
    box-shadow: 110px -110px #18233b;
}

.parent2 pp::after {
    background: #18233b;
    box-shadow: 110px -110px #18233b;
}

.parent3 ppp::after {
    background: #18233b;
    box-shadow: 110px -110px #18233b;
}

.parent-text {
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    width: 80%;
    line-height: 21px;
    display: flex;
    color: #393E46;
    /* text-transform: capitalize; */
    justify-content: center;
    text-align: left;
    align-items: center;
}

.parent-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.parent-content img {
    width: 70px;
    height: 67px;
    margin: 20px 0 30px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.rel1 {
    margin-right: 153px;
}
.rel2 {
    margin-right: 95px;
}
.rel3 {
    margin-right: 45px;
}
.Context {
    font-size: 20px;
    font-family: "DM Serif Text", sans-serif;
    text-transform: capitalize;
    margin-bottom:7px;
    letter-spacing: 1px;
    font-weight: 800;
    color: #363a3f;
}

@media (max-width:500px) {
    .main-parent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .parent1,
.parent2,
.parent3 {
    position: relative;
    width: 80%;
    height: 270px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 1px 10px #08070710;
    transition: all .2s ease-in-out;
    margin: 0 40px;
}
}