@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

.css-button-rounded {
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    padding: 6px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: 1.5px solid #000000;
    background: #000000;
    margin-top: 5px;
    margin-left: 5px;
    letter-spacing: .5px;

}

.css-button-rounded:hover {
    background: #f5f5f5;
    color: #000000
}

/* <button class="button-55" role="button">Button 55</button> */

/* CSS */
.all-btn {
    transition: all 0.3s ease;
    position: relative;
    align-self: center;
    background-color: #f3f3f3;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 40px;
    overflow: hidden;
}

.all-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    padding-right: 44px;
    padding-left:18px;
}

.all-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* .css-button-arrow--rose:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  } */
.all-btn:hover:after {
    opacity: 1;
    right: 20px;
}

.all-btn:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}